body {
	font-family:helvetica, sans-serif;
	width:1000px;
	margin:0 auto;
	position:relative;
}

section.cart-full {
	text-align:right;
	position:fixed;
	top:10px;
	width:700px;
	margin-left:300px;
}

th {
	text-align:center;
}

tr td:last-of-type::before {
	content:"£";
}

ul {
	list-style:none;
	margin:0;
	padding:0;
}

.price {
	font-size:2em;
	font-weight:bold;
	margin-top:-20px;
}